.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: rgb(60, 50, 45);
  margin-top: 5px;
  margin-bottom: 5px;
}

button {
  background-color: inherit;
  padding: 0;
  margin: 0;
  border: none;
}

.button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgb(255, 255, 255);
  background: rgb(243, 132, 140);
  -webkit-box-shadow: 10px 15px 25px rgba(232, 183, 183, 0.45);
          box-shadow: 10px 15px 25px rgba(232, 183, 183, 0.45);
  border-radius: 25px;
  width: 145px;
  height: 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  text-decoration: none;
  list-style: none;
}

svg {
  padding: 0;
}

.container {
  outline: solid blueviolet;
  margin: 0 auto;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
  padding-bottom: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__and-header {
  background-image: url(/img/hero/hero-bg-1.png);
  width: 320px;
  margin-top: -78px;
  margin-left: auto;
  margin-right: auto;
}
.hero__wrapper {
  padding-top: 84px;
  padding-bottom: 8px;
  text-align: center;
}
.hero__title {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
}
.hero__post-title {
  margin-top: 18px;
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}
.hero__button {
  margin-top: 28px;
}
.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  margin-top: 28px;
}

.about__wrapper {
  padding-top: 20px;
  padding-bottom: 14px;
}
.about__envelop {
  outline: solid black;
  background-image: url(/img/about/about-decor-1.png);
}
.about__title {
  margin-top: 28px;
  text-align: center;
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
}
.about__text-1 {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}
.about__text-2 {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}
.about__link {
  margin-top: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}

.program__wrapper {
  padding-top: 14px;
  padding-bottom: 18px;
  background-image: url(/img/program/program-bg-1.png);
}
.program__title {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  text-align: center;
}
.program__text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}
.program__list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}
.program__set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
}
.program__set-icon {
  margin-right: 8px;
}
.program__link {
  margin-top: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}
.program__foto-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.program__foto-list {
  outline: solid none;
}
.program__foto-list-1 {
  margin-top: 24px;
  margin-bottom: 20px;
}
.program__foto-list-2 {
  margin-top: 44px;
}
.program__foto-set {
  outline: solid yellow;
  width: 130px;
  height: 130px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-size: 130px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}
.program__foto-set:first-child {
  margin-bottom: 28px;
}
.program__foto-set-img1 {
  background-image: url(/img/program/program-foto-1-1.png);
}
.program__foto-envelop {
  outline: solid orange;
  margin-top: 62px;
  margin-bottom: 28px;
  text-align: center;
}
.program__foto-name {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: rgb(255, 255, 255);
}
.program__foto-text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: rgb(255, 255, 255);
}

.speakers__wrapper {
  padding-top: 18px;
  padding-bottom: 18px;
}
.speakers__title {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
}
.speakers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  outline: solid rosybrown;
  margin-top: 16px;
}
.speakers__set {
  width: calc((100% - 20px) / 2);
  outline: solid yellow;
}
.speakers__name {
  margin-top: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
}
.speakers__position {
  margin-top: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
}

.price__wrapper {
  padding-top: 21px;
  padding-bottom: 16px;
  text-align: center;
  color: rgb(46, 37, 32);
}
.price__title {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-size: 24px;
  line-height: 1.21;
}
.price__list-wrapper {
  margin-top: 27px;
  padding: 20px 18px 20px 8px;
  background: rgb(250, 251, 251);
  -webkit-box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
          box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
  border-radius: 25px;
}
.price__list-title {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
}
.price__list {
  margin-top: 16px;
}
.price__set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.price__icon {
  margin-right: 10px;
}
.price__set-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}
.price__button {
  margin-top: 30px;
}

.donuts__wrapper {
  padding-top: 16px;
  padding-bottom: 12px;
  color: rgb(46, 37, 32);
}
.donuts__list-wrapper {
  padding: 16px 19px 24px 8px;
  background: rgb(250, 251, 251);
  border: 1px solid rgb(243, 132, 140);
  -webkit-box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
          box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
  border-radius: 25px;
  text-align: center;
}
.donuts__title {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
}
.donuts__list {
  margin-top: 20px;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}
.donuts__set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
}
.donuts__set:first-child {
  margin-top: 0;
}
.donuts__icon {
  margin-right: 10px;
}
.donuts__button {
  margin-top: 32px;
}

.premium__wrapper {
  padding-top: 12px;
  padding-bottom: 9px;
}
.premium__list-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 8px;
  text-align: center;
  color: rgb(46, 37, 32);
  background: rgb(250, 251, 251);
  -webkit-box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
          box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
  border-radius: 25px;
}
.premium__title {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
}
.premium__list {
  margin-top: 16px;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}
.premium__set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.premium__icon {
  margin-right: 10px;
}
.premium__button {
  margin-top: 32px;
}

.reviews__wrapper {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  color: rgb(46, 37, 32);
}
.reviews__title {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-size: 24px;
  line-height: 1.21;
}
.reviews__image {
  margin-top: 27px;
}
.reviews__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
  margin-top: 8px;
}
.reviews__name {
  margin-top: 8px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: rgb(0, 0, 0);
}
.reviews__text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}
.reviews__number {
  margin-top: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}
.reviews__number::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 0;
  border: 2px solid rgb(243, 132, 140);
  margin-right: 12px;
}
.reviews__number::after {
  content: "";
  display: inline-block;
  width: 35px;
  height: 0;
  border: 2px solid rgb(243, 132, 140);
  margin-left: 12px;
}

.registration__wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.registration-form {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}
.registration-form__wrapper {
  margin-top: 27px;
  padding: 40px 8px 32px 8px;
  text-align: center;
  background-color: rgb(246, 247, 247);
  background-color: rgb(121, 140, 140);
  -webkit-box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
          box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
  border-radius: 10px;
  color: rgb(255, 255, 255);
}
.registration-form__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
}
.registration-form__title::after {
  content: "";
  display: block;
  width: 264px;
  height: 0px;
  border: 1px solid rgb(255, 255, 255);
  margin-top: 20px;
}
.registration-form__input {
  background-color: inherit;
  margin-top: 20px;
  width: 264px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0 0 1px 0 solid rgb(255, 255, 255);
}
.registration-form__button {
  margin-top: 32px;
}

.contact__wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(46, 37, 32);
  text-align: center;
}
.contact__title {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-size: 24px;
  line-height: 1.21;
}
.contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  margin-top: 28px;
}

.contact-form {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}
.contact-form__legend {
  margin-top: 27px;
}
.contact-form__input {
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  background-color: inherit;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.contact-form__input:first-child {
  margin-top: 16px;
}
.contact-form__button {
  margin-top: 28px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 17px;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__icon {
  margin-right: 4px;
}/*# sourceMappingURL=main.css.map */