.footer {
    padding-top: 20px;
    padding-bottom: 17px;
    text-align: center;

    &__wrapper {
        display: flex;
        justify-content: space-between;

        & svg {
            fill: rgba(46, 37, 32, 1);
        }
    }

    &__icon {
        margin-right: 4px;
    }

    &__image {
        margin-top: -10px;
    }
}