.hero {
    &__and-header {
        background-image: url(/img/hero/hero-bg-1.png);
        background-repeat: no-repeat;
        mix-blend-mode: darken;
        width: 320px;
        margin-top: -78px;
        margin-left: auto;
        margin-right: auto;
    }

    &__wrapper {
        padding-top: 84px;
        padding-bottom: 8px;

        text-align: center;

    }

    &__title {
        font-family: 'Montserrat Alternates';
        font-weight: 600;
        font-size: 28px;
        line-height: 1.21;
        letter-spacing: -0.03em;
    }

    &__post-title {
        margin-top: 18px;

        font-family: 'Montserrat Alternates';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
    }

    &__button {
        margin-top: 28px;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 16px;
        margin-top: 28px;
    }

}