.premium {

    &__wrapper {
        position: relative;
        padding-top: 12px;
        padding-bottom: 20px;
    }

    &__list-wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 8px;
        text-align: center;
    
        color: rgba(46, 37, 32, 1);
        background: rgba(250, 251, 251, 1);
        box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
        border-radius: 25px;
    }

    &__title {
        font-family: 'Montserrat Alternates';
        font-weight: 600;
        font-size: 18px;
        line-height: 1.22;
    }

    &__list {
        margin-top: 16px;
        text-align: left;

        font-weight: 400;
        font-size: 18px;
        line-height: 1.22;
    }

    &__set {
        display: flex;
        margin-top: 12px;

        &:first-child {
        margin-top: 0;
        }
    }

    &__icon {
        margin-right: 10px;
    }

    &__button {
        margin-top: 32px;
    }

    &__decor-donuts {
        position: absolute;
        right: 61px;
        bottom: 116px;

        width: 200px;
        height: 145px;
        background-image: url(/img/price/decor-donuts-1.png);
    }
}