.donuts {

    &__wrapper {
        position: relative;
        padding-top: 16px;
        padding-bottom: 12px;
        color: rgba(46, 37, 32, 1);
    }

    &__decor-3 {
        position: absolute;
        right: 0;
        top: 50px;

        width: 20px;
        height: 20px;
        background-image: url(./img/price/decor-3.png);
    }

    &__list-wrapper {
        padding: 16px 19px 24px 8px;
        background: rgba(250, 251, 251, 1);
        border: 1px solid rgba(243, 132, 140, 1);
        box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
        border-radius: 25px;
        text-align: center;
    }

    &__title {
        font-family: 'Montserrat Alternates';
        font-weight: 600;
        font-size: 18px;
        line-height: 1.22;
    }

    &__list {
        margin-top: 20px;
        text-align: left;

        font-weight: 400;
        font-size: 18px;
        line-height: 1.22;
    }

    &__set {
        display: flex;
        margin-top: 12px;

            &:first-child {
                margin-top: 0;
            }
    }

    &__icon {
        margin-right: 10px;
    }

    &__button {
        margin-top: 32px;
    }

    &__decor-donuts {
        position: absolute;
        right: 61px;
        bottom: 116px;
    
        width: 200px;
        height: 145px;
        background-image: url(./img/price/decor-donuts-1.png);
    }

    &__decor-4 {
        position: absolute;
        z-index: -1;
        right: 5px;
        bottom: -28px;

        width: 40px;
        height: 40px;
        background-image: url(./img/price/decor-4.png);
    }
}