.program {
    &__wrapper {
        padding-top: 14px;
        padding-bottom: 18px;
        background-image: url(../img/program/program-bg-1.png);
    }

    &__title {
        font-family: 'Montserrat Alternates';
        font-weight: 500;
        font-size: 24px;
        line-height: 1.21;
        text-align: center;
    }

    &__text {
        margin-top: 8px;

        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
    }

    &__list {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
    }

    &__set {
        display: flex;
        margin-top: 8px;
    }

    &__set-icon {
        margin-right: 8px;
        width: 24px;
        height: 24px;
    }

    &__set-icon use {
        width: 100%;
        padding: 0;
        outline: solid red;
    }

    &__link {
        margin-top: 16px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
    }

    &__foto-wrapper {
        display: flex;
        gap: 20px;
    }

    &__foto-list {
        margin-top: 24px;
        outline: solid none;

    }

    &__foto-list-1 {
        margin-top: 24px;
        margin-bottom: 20px;

           
    }

    &__foto-list-2 {
        margin-top: 44px;
    }

    &__foto-set{
        border: 1px solid rgba(243, 132, 140, 1);
        border-radius: 50%;
        width: 130px;
        height: 130px;
        background-position: center;
        
        background: linear-gradient(0.1deg, #000000 -10.83%, rgba(156, 156, 156, 0) 88.01%);

            &:first-child {
                margin-bottom: 28px;
            }
    }
  
    &__foto-set-img1 {
        
        background-image: url(./img/program/program-foto-1-1.png);
        background-position: top -11px left -16px;
        background-repeat: no-repeat;
        box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
    }

    &__foto-set-img2 {

        background-image: url(./img/program/program-foto-3-1.png);
        background-position: top -11px left -16px;
            background-repeat: no-repeat;
            box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);

    }

    &__foto-set-img3 {

        background-image: url(./img/program/program-foto-2-1.png);
        background-position: top -11px left -16px;
            background-repeat: no-repeat;
            box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);

    }

    &__foto-set-img4 {

        background-image: url(./img/program/program-foto-4-1.png);
        background-position: top -11px left -16px;
            background-repeat: no-repeat;
            box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);

    }




    &__foto-envelop {
        outline: solid orange;
        margin-top: 62px;
        margin-bottom: 28px;
        text-align: center;
    }


    &__foto-img {
        padding-top: 62px;
        display: inline-block;
        text-align: center;
        
    }

    &__foto-name {

        font-family: 'Montserrat Alternates';
        font-weight: 500;
        font-size: 14px;
        line-height: 1.21;
        color: rgba(255, 255, 255, 1);
    }

    &__foto-text {
        margin-top: 8px;

        font-weight: 400;
        font-size: 12px;
        line-height: 1.25;
        color: rgba(255, 255, 255, 1);
    }
}
