.registration {

    &__wrapper {
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }

    &__decor {
        position: absolute;
        z-index: -1;
        right: 10px;
        top: 20px;

        width: 70px;
        height: 70px;
        background-image: url(./img/registration/Decor.png);

    }
}

.registration-form {
    margin-top: 20px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    &__wrapper {
        margin-top: 27px;
        padding: 40px 8px 32px 8px;
        text-align: center;
        

        background-image: linear-gradient(to top,
                rgba(61, 44, 44, 0.6)),
                 url(./img/registration/donuts-1.png);
        background-color: rgba(61, 44, 44, 1);
        box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
        border-radius: 10px;
        color: rgba(255, 255, 255, 1); 

    }
    

    &__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;

            &::after {
                content: "";
                display: block;
                width: 264px;
                height: 1px;
                background-color: rgba(255, 255, 255, 1);
                margin-top: 20px;
            }
    }

    &__input {
        background-color: inherit;
        margin-top: 20px;
        width: 264px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid rgba(255, 255, 255, 1);

        &::placeholder {
            color: rgba(255, 255, 255, 1);
        }
    }

    &__button {
        margin-top: 32px;
    }
}

