.registration {

    &__wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }


}

.registration-form {
    margin-top: 20px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    &__wrapper {
        margin-top: 27px;
        padding: 40px 8px 32px 8px;
        text-align: center;
        

        
        background-color: rgba(246, 247, 247, 1);
        background-color: rgb(121, 140, 140);
        box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
        border-radius: 10px;
        color: rgba(255, 255, 255, 1); 

    }

    &__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;

            &::after {
                content: "";
                display: block;
                width: 264px;
                height: 0px;
                border: 1px solid rgba(255, 255, 255, 1);
                margin-top: 20px;
            }
    }

    &__input {
        background-color: inherit;
        margin-top: 20px;
        width: 264px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 0 0 1px 0 solid rgba(255, 255, 255, 1);
    }

    &__button {
        margin-top: 32px;
    }
}

